FIREBASE_API_KEY=

# Cloudflare Variables & Secrets - Pool 5 Gemini API Keys
# Digunakan untuk load balancing dan otomatis fallback saat kena rate limit (HTTP 429)
GEMINI_API_KEY_1=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=
GEMINI_API_KEY_5=
GEMINI_API_KEY=